<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6bnOy_uOhsVTSvyenkI4eoclbmzQyMcZvpw&usqp=CAU"
            cardTitle="Novo homem de ferro"
            cardDescription="Marvel anuncia novo homem de ferro"
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            cardTitle="Mais um filme"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6bnOy_uOhsVTSvyenkI4eoclbmzQyMcZvpw&usqp=CAU"
        ></app-small-card>
        <app-small-card
            cardTitle="Ai meu deus"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6bnOy_uOhsVTSvyenkI4eoclbmzQyMcZvpw&usqp=CAU"
        ></app-small-card>
        <app-small-card
            cardTitle="Até quando?"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6bnOy_uOhsVTSvyenkI4eoclbmzQyMcZvpw&usqp=CAU"
        ></app-small-card>
    </div>
</div>

