<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <div class="articles__header">
            <h2>Último post</h2>
        </div>
        <app-big-card 
            Id="{{ bigCard.id }}"
            photoCover="{{ bigCard.photo }}"
            cardTitle="{{ bigCard.title }}"
            cardDescription="{{ bigCard.description }}"
        ></app-big-card>
    </div>

    <div class="articles__others">
        <div class="articles__header">
            <h2>Posts recentes</h2>
        </div>
        <app-small-card *ngFor="let card of smallCards; index as i"
            Id="{{card.id}}"
            cardTitle="{{card.title}}"
            photoCover="{{card.photo}}"
        ></app-small-card>
    </div>
</div>

