@media screen and (max-width: 1000px) {
    .container__articles {
        width: 90%;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .articles__main {
        max-width: 100%;
    }

    .articles__others {
        max-width: 100%;
        width: 100%;
    }

}